<div class="ekart-product-container">
<!--<img [src]="Product.pImage">
<p>Name: {{ Product.name }} </p>
<p>Price: {{'$'+Product.price}}</p>
<p>Color: {{Product.color}}</p>
<p>Discounted Price:{{getDiscountedPrice().toFixed(2)}}</p>
<p>{{Product.inStock > 0 ? 'only '+ Product.inStock + ' items left' : 'Not in stock'}}</p>
<button (click)="decrementCartValue()">-</button>
<span>{{addToCart}}</span>
<button (click)="incrementCartValue()">+</button>
<input (input)="onNameChanged($event)"><br>
<p>name={{name}}</p>-->
<app-search></app-search>
</div>